[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
ipdb  = "*"

[packages]
joblib = "==0.9.4"
lockfile = "*"
matplotlib = "==2.0.2"
numba = "==0.35.0"
numpy = "==1.11.3"
scipy = "==1.0.1"
torch = "*"
torchvision = "*"
cloudpickle = "==0.5.2"
gym = "==0.10.5"
pygame = "==1.9.4"
mujoco-py = "==1.50.1"
opencv-python = "*"
multiworld = {git = "git+https://github.com/vitchyr/multiworld.git@b073e69c6991e877723ee55f85a3dfc57bed8674"}
gtimer = "==1.0.0b5"

# TODO add box2d back
# pybox2d = {git = "git+https://github.com/pybox2d/pybox2d.git@2ac035109a234acf3dc6a51e1bb0315f398498e8"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
